.head{
        width: auto;
        height: 200px;
        display:flex;
        align-items : center;
        border-bottom: 1px solid #000000;
        justify-content: space-between  
        
}

.logo{
    width: 200px;
    height: 150px;
    display: block;
}


.logos{
    width: 200px;
    height: 150px;
    margin-left: 50px;
    background: none;
     border: none;
}

.hmiddle{
    align-items : center;
}
.p1{
    width: 200px;
    height: 150px;
    background: none;
    border: none;
    font-size: 25px;
}
.p2{
    width: 200px;
    height: 150px;
    background: none;
    border: none;
    font-size: 25px;
}
.p3{
    width: 200px;
    height: 150px;
    background: none;
    border: none;
    font-size: 25px;
}

.pp{
    width: 200px;
    height: 150px;
    background: none;
    border: none;
    font-size: 25px;
    align-items : center;
}

.p1:hover{
    background-color: #f3f4f5f8;

}
.p2:hover{
    background-color: #f3f4f5f8;

}
.p3:hover{
    background-color: #f3f4f5f8;

}